<div class="container p-3">
<div class="jumbotron">
  <h1 class="display-3">Welcome!</h1>
  <p class="lead">Hello, welcome to DP Paralegal Services! Click the Get Started to find out what you need!</p>
  <hr class="my-4">
 
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
  </p>
</div>
</div>
<div class="container">
  
<div class="row ">
  <div class="col-md-4 ">
          <h2 class="acme">Consulting</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2 class="acme">Services</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2 class="acme">Contact Us</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
</div>

<div class="card">
  <h3 class="card-header text-center ">Mission Statement</h3>
  <div class="card-block">
    <h4 class="card-title acme">Basic Information:</h4>
    <p class="card-text">
      <ul class="list-unstyled">

        <ul>
          <li class="fran">No Legal Advice/Attorney Provided! <i class="fa fa-briefcase" aria-hidden="true"></i></li>
          <li class="fran">Bonded at $25,000 <i class="fa fa-money" aria-hidden="true"></i></li>
          <li class="fran">10+ Years Law Firm Experience General and Toxic Tort Litigation <i class="fa fa-certificate" aria-hidden="true"></i></li>
          <li class="fran">Documents Will Be Prepared per Client's Specific Direction <i class="fa fa-file-word-o" aria-hidden="true"></i></li>
        </ul>
      
      </ul>
</p>
    <a href="/services" class="btn btn-primary">See Services</a>
  </div>
</div>
</div>