<div class="container p-3">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="/services">General <i class="fa fa-certificate" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/services/marital">Marital and Family <i class="fa fa-users" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/services/deeds">Deeds <i class="fa fa-file" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/services/trust">Trust and Wills <i class="fa fa-handshake-o" aria-hidden="true"></i></a>
  </li>
    <li class="nav-item">
    <a class="nav-link   " href="/services/law-order">Law-Based Issues <i class="fa fa-gavel" aria-hidden="true"></i></a>
  </li>
    <li class="nav-item">
    <a class="nav-link " href="/services/estate">Estate <i class="fa fa-home" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/services/personal">Personal <i class="fa fa-user-circle" aria-hidden="true"></i></a>
  </li>
   <li class="nav-item">
    <a class="nav-link " href="/services/service">Paralegal Service <i class="fa fa-briefcase" aria-hidden="true"></i></a>
  </li>
</ul>
<div id="accordion" role="tablist" aria-multiselectable="true">
     <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Temporary Restraining Order <span class="badge badge-danger">$250-$350</span>
        </a>
      </h5>
    </div>
  <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      <hr>
      <a href="/request"> <button type="button"  class="btn btn-outline-primary">Send Request</button></a>
      </div>
    </div>
  </div>





</div>